.main_content {
    margin-left: 250px; 
    padding: 20px; 
    background-color: #f4f4f4;
}

table { width: 100%; border-collapse: collapse; background: white; }
th, td { padding: 10px; border: 1px solid #ddd; text-align: left; }